<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<real>3355.4432</real>
	<key>capHeight</key>
	<integer>3021</integer>
	<key>copyright</key>
	<string>(c) Copyright 1997, The Font Bureau, Inc. Tobias Frere-Jones, designer. All rights reserved.</string>
	<key>descender</key>
	<real>-838.8608</real>
	<key>familyName</key>
	<string>Griffith Gothic WebTT</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>4027</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-1007</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameVersion</key>
	<string>Version 1.0</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<real>1048.576</real>
	<key>openTypeOS2StrikeoutSize</key>
	<real>209.7152</real>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<real>2936.0128000000004</real>
	<key>openTypeOS2SubscriptYOffset</key>
	<real>587.2025600000001</real>
	<key>openTypeOS2SubscriptYSize</key>
	<real>2726.2976000000003</real>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<real>2936.0128000000004</real>
	<key>openTypeOS2SuperscriptYOffset</key>
	<real>2000.6830080000002</real>
	<key>openTypeOS2SuperscriptYSize</key>
	<real>2726.2976000000003</real>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<real>3355.4432</real>
	<key>openTypeOS2TypoDescender</key>
	<real>-838.8608</real>
	<key>openTypeOS2TypoLineGap</key>
	<real>839.6959999999999</real>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>pyrs</string>
	<key>openTypeOS2WeightClass</key>
	<integer>800</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>4027</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>1007</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>531</integer>
		<integer>542</integer>
		<integer>720</integer>
		<integer>732</integer>
		<integer>757</integer>
		<integer>759</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<real>2097.152</real>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>GriffithGothicWebTT-Black</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<real>507.510784</real>
		<real>419.4304</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>629.1456</real>
		<real>662.700032</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<real>-557.842432</real>
	<key>postscriptUnderlineThickness</key>
	<real>83.88608</real>
	<key>postscriptUniqueID</key>
	<integer>200558</integer>
	<key>postscriptWeightName</key>
	<string>Black</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>GriffithGothicWebTT Black</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Black</string>
	<key>unitsPerEm</key>
	<real>4194.304</real>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>2232</integer>
	<key>year</key>
	<integer>0</integer>
</dict>
</plist>
