<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<real>1638.4</real>
	<key>capHeight</key>
	<integer>1475</integer>
	<key>copyright</key>
	<string>(c) Copyright 1997, The Font Bureau, Inc. Tobias Frere-Jones, designer. All rights reserved.</string>
	<key>descender</key>
	<real>-409.6</real>
	<key>familyName</key>
	<string>Griffith Gothic WebTT</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>1966</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-492</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameVersion</key>
	<string>Version 1.0</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<real>512.0</real>
	<key>openTypeOS2StrikeoutSize</key>
	<real>102.4</real>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<real>1433.6000000000001</real>
	<key>openTypeOS2SubscriptYOffset</key>
	<real>286.72</real>
	<key>openTypeOS2SubscriptYSize</key>
	<real>1331.2</real>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<real>1433.6000000000001</real>
	<key>openTypeOS2SuperscriptYOffset</key>
	<real>976.8960000000001</real>
	<key>openTypeOS2SuperscriptYSize</key>
	<real>1331.2</real>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<real>1638.4</real>
	<key>openTypeOS2TypoDescender</key>
	<real>-409.6</real>
	<key>openTypeOS2TypoLineGap</key>
	<real>410.0</real>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>pyrs</string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1966</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>492</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>521</integer>
		<integer>534</integer>
		<integer>720</integer>
		<integer>732</integer>
		<integer>759</integer>
		<integer>764</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<real>1024.0</real>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>GriffithGothicWebTT-Bold</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<real>151.552</real>
		<real>178.17600000000002</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>219.136</real>
		<real>235.52</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<real>-272.384</real>
	<key>postscriptUnderlineThickness</key>
	<real>40.96</real>
	<key>postscriptUniqueID</key>
	<integer>200557</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>GriffithGothicWebTT</string>
	<key>styleMapStyleName</key>
	<string>bold</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>unitsPerEm</key>
	<real>2048.0</real>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1073</integer>
	<key>year</key>
	<integer>0</integer>
</dict>
</plist>
