<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>emdash</key>
		<integer>-10</integer>
		<key>endash</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>quotedblbase</key>
		<integer>-120</integer>
		<key>quotesinglbase</key>
		<integer>-120</integer>
		<key>slash</key>
		<integer>-25</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>backslash</key>
		<integer>-40</integer>
		<key>braceright</key>
		<integer>5</integer>
		<key>bracketright</key>
		<integer>5</integer>
		<key>bullet</key>
		<integer>-50</integer>
		<key>emdash</key>
		<integer>-50</integer>
		<key>endash</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>parenright</key>
		<integer>5</integer>
		<key>periodcentered</key>
		<integer>-50</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-50</integer>
		<key>quotesingle</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-45</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>quotedblbase</key>
		<integer>-120</integer>
		<key>quotesinglbase</key>
		<integer>-120</integer>
		<key>slash</key>
		<integer>-18</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>J</key>
		<integer>-45</integer>
		<key>a</key>
		<integer>-45</integer>
		<key>ae</key>
		<integer>-45</integer>
		<key>braceright</key>
		<integer>5</integer>
		<key>bracketright</key>
		<integer>5</integer>
		<key>bullet</key>
		<integer>-50</integer>
		<key>c</key>
		<integer>-45</integer>
		<key>colon</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-45</integer>
		<key>d</key>
		<integer>-45</integer>
		<key>dotlessi</key>
		<integer>-45</integer>
		<key>e</key>
		<integer>-45</integer>
		<key>emdash</key>
		<integer>-50</integer>
		<key>endash</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-45</integer>
		<key>guillemotleft</key>
		<integer>-48</integer>
		<key>guillemotright</key>
		<integer>-45</integer>
		<key>guilsinglleft</key>
		<integer>-48</integer>
		<key>guilsinglright</key>
		<integer>-45</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-45</integer>
		<key>n</key>
		<integer>-45</integer>
		<key>o</key>
		<integer>-45</integer>
		<key>oe</key>
		<integer>-45</integer>
		<key>p</key>
		<integer>-45</integer>
		<key>parenright</key>
		<integer>5</integer>
		<key>period</key>
		<integer>-45</integer>
		<key>periodcentered</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-45</integer>
		<key>quotedblbase</key>
		<integer>-45</integer>
		<key>quotesinglbase</key>
		<integer>-45</integer>
		<key>r</key>
		<integer>-45</integer>
		<key>s</key>
		<integer>-45</integer>
		<key>semicolon</key>
		<integer>-50</integer>
		<key>slash</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-45</integer>
		<key>w</key>
		<integer>-45</integer>
		<key>x</key>
		<integer>-45</integer>
		<key>y</key>
		<integer>-45</integer>
		<key>z</key>
		<integer>-47</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>slash</key>
		<integer>-5</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>quotedblbase</key>
		<integer>-80</integer>
		<key>quotesinglbase</key>
		<integer>-80</integer>
		<key>slash</key>
		<integer>-15</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>emdash</key>
		<integer>-33</integer>
		<key>endash</key>
		<integer>-33</integer>
		<key>hyphen</key>
		<integer>-33</integer>
		<key>periodcentered</key>
		<integer>-27</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>ae</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>J</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>J</key>
		<integer>5</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>5</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>J</key>
		<integer>5</integer>
		<key>T</key>
		<integer>5</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>J</key>
		<integer>5</integer>
		<key>T</key>
		<integer>5</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>T</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>four</key>
		<integer>-120</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>Z</key>
		<integer>-15</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>Z</key>
		<integer>-15</integer>
	</dict>
	<key>equal</key>
	<dict>
		<key>one</key>
		<integer>-11</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>colon</key>
		<integer>2</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>guillemotleft</key>
		<integer>-15</integer>
		<key>guilsinglleft</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>3</integer>
		<key>quotedblbase</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>3</integer>
		<key>quoteright</key>
		<integer>3</integer>
		<key>quotesinglbase</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>3</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>seven</key>
		<integer>5</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>20</integer>
	</dict>
	<key>greater</key>
	<dict>
		<key>one</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-45</integer>
	</dict>
	<key>guillemotleft</key>
	<dict>
		<key>T</key>
		<integer>-45</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>T</key>
		<integer>-48</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>guilsinglleft</key>
	<dict>
		<key>T</key>
		<integer>-45</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>T</key>
		<integer>-48</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>one</key>
		<integer>-11</integer>
		<key>seven</key>
		<integer>-40</integer>
		<key>two</key>
		<integer>-50</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>less</key>
	<dict>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>numbersign</key>
	<dict>
		<key>seven</key>
		<integer>-5</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>oe</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>cent</key>
		<integer>-5</integer>
		<key>degree</key>
		<integer>-12</integer>
		<key>equal</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>less</key>
		<integer>-10</integer>
		<key>ordfeminine</key>
		<integer>-12</integer>
		<key>ordmasculine</key>
		<integer>-12</integer>
		<key>percent</key>
		<integer>-12</integer>
		<key>perthousand</key>
		<integer>-12</integer>
		<key>plus</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>J</key>
		<integer>5</integer>
		<key>T</key>
		<integer>5</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>T</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>four</key>
		<integer>-120</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>plus</key>
	<dict>
		<key>one</key>
		<integer>-11</integer>
		<key>seven</key>
		<integer>-48</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>20</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>T</key>
		<integer>-49</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>backslash</key>
		<integer>-12</integer>
		<key>braceright</key>
		<integer>-15</integer>
		<key>bracketright</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-25</integer>
		<key>guillemotleft</key>
		<integer>-20</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
		<key>parenright</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-25</integer>
		<key>quotedblbase</key>
		<integer>-25</integer>
		<key>quotesinglbase</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-15</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>colon</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>fraction</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-28</integer>
		<key>less</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-65</integer>
		<key>plus</key>
		<integer>-17</integer>
		<key>semicolon</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-40</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>J</key>
		<integer>-35</integer>
		<key>T</key>
		<integer>5</integer>
		<key>Z</key>
		<integer>5</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>ae</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>5</integer>
		<key>fi</key>
		<integer>5</integer>
		<key>fl</key>
		<integer>5</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>oe</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>seven</key>
		<integer>5</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
		<key>guillemotleft</key>
		<integer>-15</integer>
		<key>guilsinglleft</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-2</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>20</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>backslash</key>
		<integer>-15</integer>
		<key>guillemotleft</key>
		<integer>-10</integer>
		<key>guilsinglleft</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
