<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-45</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-45</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>C</key>
		<integer>-35</integer>
		<key>G</key>
		<integer>-35</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-35</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>Z</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>z</key>
		<integer>-50</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>J</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-25</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>Q</key>
		<integer>-30</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>Z</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-90</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-65</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-65</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>S</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-15</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-45</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>Z</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-45</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-45</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>C</key>
		<integer>-35</integer>
		<key>G</key>
		<integer>-35</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-35</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-80</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-70</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>Z</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>z</key>
		<integer>-50</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-90</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>Z</key>
		<integer>-60</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-90</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-50</integer>
		<key>z</key>
		<integer>-60</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>J</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-25</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>Q</key>
		<integer>-30</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>Z</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-90</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-65</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-65</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-80</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-70</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>S</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-15</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-45</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>Z</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
