<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-5</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>fi</key>
		<integer>-5</integer>
		<key>fl</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-5</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>fi</key>
		<integer>-5</integer>
		<key>fl</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>J</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>fi</key>
		<integer>-5</integer>
		<key>fl</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<integer>-90</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>ae</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>dotlessi</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>emdash</key>
		<integer>-15</integer>
		<key>endash</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>guillemotleft</key>
		<integer>-15</integer>
		<key>guillemotright</key>
		<integer>-5</integer>
		<key>guilsinglleft</key>
		<integer>-15</integer>
		<key>guilsinglright</key>
		<integer>-5</integer>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>periodcentered</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>quotedblbase</key>
		<integer>-120</integer>
		<key>quotesinglbase</key>
		<integer>-120</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>J</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-5</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-5</integer>
		<key>E</key>
		<integer>-5</integer>
		<key>G</key>
		<integer>-5</integer>
		<key>O</key>
		<integer>-5</integer>
		<key>OE</key>
		<integer>-5</integer>
		<key>Q</key>
		<integer>-5</integer>
		<key>S</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-95</integer>
		<key>U</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>asterisk</key>
		<integer>-40</integer>
		<key>backslash</key>
		<integer>-70</integer>
		<key>emdash</key>
		<integer>-80</integer>
		<key>endash</key>
		<integer>-80</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>fi</key>
		<integer>-20</integer>
		<key>fl</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-80</integer>
		<key>periodcentered</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>-115</integer>
		<key>quotedbl</key>
		<integer>-90</integer>
		<key>quotedblright</key>
		<integer>-90</integer>
		<key>quoteright</key>
		<integer>-90</integer>
		<key>quotesingle</key>
		<integer>-90</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-110</integer>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>T</key>
		<integer>-5</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>OE</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>fi</key>
		<integer>-5</integer>
		<key>fl</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-80</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-5</integer>
		<key>ae</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>m</key>
		<integer>-5</integer>
		<key>n</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oe</key>
		<integer>-5</integer>
		<key>p</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>q</key>
		<integer>-5</integer>
		<key>quotedbl</key>
		<integer>15</integer>
		<key>quotedblbase</key>
		<integer>-120</integer>
		<key>quotedblright</key>
		<integer>15</integer>
		<key>quoteright</key>
		<integer>15</integer>
		<key>quotesinglbase</key>
		<integer>-120</integer>
		<key>quotesingle</key>
		<integer>15</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-5</integer>
		<key>y</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-5</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>fi</key>
		<integer>-5</integer>
		<key>fl</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-5</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>AE</key>
		<integer>-5</integer>
		<key>C</key>
		<integer>-5</integer>
		<key>E</key>
		<integer>-5</integer>
		<key>F</key>
		<integer>-5</integer>
		<key>G</key>
		<integer>-5</integer>
		<key>J</key>
		<integer>-80</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>N</key>
		<integer>-5</integer>
		<key>O</key>
		<integer>-5</integer>
		<key>OE</key>
		<integer>-5</integer>
		<key>Q</key>
		<integer>-5</integer>
		<key>S</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-95</integer>
		<key>ae</key>
		<integer>-95</integer>
		<key>ampersand</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-95</integer>
		<key>colon</key>
		<integer>-90</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-95</integer>
		<key>dotlessi</key>
		<integer>-95</integer>
		<key>e</key>
		<integer>-95</integer>
		<key>emdash</key>
		<integer>-80</integer>
		<key>endash</key>
		<integer>-80</integer>
		<key>f</key>
		<integer>-40</integer>
		<key>fi</key>
		<integer>-40</integer>
		<key>fl</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-95</integer>
		<key>guillemotleft</key>
		<integer>-95</integer>
		<key>guillemotright</key>
		<integer>-90</integer>
		<key>guilsinglleft</key>
		<integer>-95</integer>
		<key>guilsinglright</key>
		<integer>-90</integer>
		<key>hyphen</key>
		<integer>-80</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-95</integer>
		<key>n</key>
		<integer>-95</integer>
		<key>o</key>
		<integer>-95</integer>
		<key>oe</key>
		<integer>-95</integer>
		<key>p</key>
		<integer>-95</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>periodcentered</key>
		<integer>-90</integer>
		<key>q</key>
		<integer>-95</integer>
		<key>r</key>
		<integer>-95</integer>
		<key>s</key>
		<integer>-95</integer>
		<key>semicolon</key>
		<integer>-90</integer>
		<key>slash</key>
		<integer>-60</integer>
		<key>t</key>
		<integer>-70</integer>
		<key>u</key>
		<integer>-95</integer>
		<key>v</key>
		<integer>-95</integer>
		<key>w</key>
		<integer>-95</integer>
		<key>x</key>
		<integer>-95</integer>
		<key>y</key>
		<integer>-95</integer>
		<key>z</key>
		<integer>-90</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>Z</key>
		<integer>-5</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>J</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-15</integer>
		<key>guillemotleft</key>
		<integer>-20</integer>
		<key>guillemotright</key>
		<integer>-10</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
		<key>guilsinglright</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-15</integer>
		<key>quotedblbase</key>
		<integer>-20</integer>
		<key>quotesinglbase</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-15</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>J</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-5</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>J</key>
		<integer>-85</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-5</integer>
		<key>ae</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>guillemotleft</key>
		<integer>-25</integer>
		<key>guilsinglleft</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-5</integer>
		<key>n</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oe</key>
		<integer>-5</integer>
		<key>p</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>q</key>
		<integer>-5</integer>
		<key>quotedblbase</key>
		<integer>-100</integer>
		<key>quotesinglbase</key>
		<integer>-100</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>slash</key>
		<integer>-30</integer>
		<key>u</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-5</integer>
		<key>y</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-5</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>AE</key>
		<integer>-5</integer>
		<key>C</key>
		<integer>-5</integer>
		<key>E</key>
		<integer>-5</integer>
		<key>G</key>
		<integer>-5</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-5</integer>
		<key>N</key>
		<integer>-5</integer>
		<key>O</key>
		<integer>-5</integer>
		<key>OE</key>
		<integer>-5</integer>
		<key>Q</key>
		<integer>-5</integer>
		<key>S</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>U</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>ae</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>dotlessi</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>emdash</key>
		<integer>-35</integer>
		<key>endash</key>
		<integer>-35</integer>
		<key>f</key>
		<integer>-25</integer>
		<key>fi</key>
		<integer>-25</integer>
		<key>fl</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>guillemotleft</key>
		<integer>-5</integer>
		<key>guillemotright</key>
		<integer>-5</integer>
		<key>guilsinglleft</key>
		<integer>-5</integer>
		<key>guilsinglright</key>
		<integer>-5</integer>
		<key>hyphen</key>
		<integer>-35</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>oe</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>periodcentered</key>
		<integer>-25</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>ae</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>J</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>5</integer>
		<key>fi</key>
		<integer>5</integer>
		<key>fl</key>
		<integer>5</integer>
		<key>t</key>
		<integer>5</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>J</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>f</key>
		<integer>-10</integer>
		<key>fi</key>
		<integer>-10</integer>
		<key>fl</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>f</key>
		<integer>-10</integer>
		<key>fi</key>
		<integer>-10</integer>
		<key>fl</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>seven</key>
		<integer>-50</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-140</integer>
		<key>quotedbl</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
		<key>quotesingle</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>fraction</key>
		<integer>-5</integer>
		<key>seven</key>
		<integer>-3</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>J</key>
		<integer>-70</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>J</key>
		<integer>-70</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>equal</key>
	<dict>
		<key>seven</key>
		<integer>-90</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>ampersand</key>
		<integer>10</integer>
		<key>asterisk</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>15</integer>
		<key>braceright</key>
		<integer>10</integer>
		<key>bracketright</key>
		<integer>10</integer>
		<key>colon</key>
		<integer>5</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>guillemotleft</key>
		<integer>-20</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
		<key>parenright</key>
		<integer>10</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quotedbl</key>
		<integer>15</integer>
		<key>quotedblbase</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>15</integer>
		<key>quoteright</key>
		<integer>15</integer>
		<key>quotesinglbase</key>
		<integer>-30</integer>
		<key>quotesingle</key>
		<integer>15</integer>
		<key>semicolon</key>
		<integer>5</integer>
		<key>slash</key>
		<integer>-15</integer>
		<key>trademark</key>
		<integer>20</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>seven</key>
		<integer>-5</integer>
		<key>slash</key>
		<integer>-5</integer>
		<key>two</key>
		<integer>-3</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>eight</key>
		<integer>-15</integer>
		<key>five</key>
		<integer>-5</integer>
		<key>four</key>
		<integer>-5</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>10</integer>
		<key>six</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>greater</key>
	<dict>
		<key>one</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-55</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-20</integer>
	</dict>
	<key>guillemotleft</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>-10</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>T</key>
		<integer>-95</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>z</key>
		<integer>-25</integer>
	</dict>
	<key>guilsinglleft</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>-10</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>T</key>
		<integer>-95</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>z</key>
		<integer>-25</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>J</key>
		<integer>-70</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-85</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>40</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>backslash</key>
		<integer>-35</integer>
		<key>question</key>
		<integer>-10</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>fraction</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-3</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>oe</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>degree</key>
		<integer>-35</integer>
		<key>equal</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-25</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>less</key>
		<integer>-40</integer>
		<key>ordfeminine</key>
		<integer>-35</integer>
		<key>ordmasculine</key>
		<integer>-35</integer>
		<key>percent</key>
		<integer>-35</integer>
		<key>perthousand</key>
		<integer>-35</integer>
		<key>plus</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-25</integer>
		<key>zero</key>
		<integer>-3</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>f</key>
		<integer>-10</integer>
		<key>fi</key>
		<integer>-10</integer>
		<key>fl</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-140</integer>
		<key>quotedbl</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
		<key>quotesingle</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-90</integer>
		<key>Z</key>
		<integer>-5</integer>
	</dict>
	<key>plus</key>
	<dict>
		<key>one</key>
		<integer>-5</integer>
		<key>seven</key>
		<integer>-95</integer>
		<key>three</key>
		<integer>-20</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>T</key>
		<integer>-95</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-5</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>fi</key>
		<integer>-10</integer>
		<key>fl</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>J</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>J</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>J</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>J</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>asterisk</key>
		<integer>15</integer>
		<key>backslash</key>
		<integer>-25</integer>
		<key>braceright</key>
		<integer>-30</integer>
		<key>bracketright</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>5</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>guillemotleft</key>
		<integer>-25</integer>
		<key>guillemotright</key>
		<integer>10</integer>
		<key>guilsinglleft</key>
		<integer>-25</integer>
		<key>guilsinglright</key>
		<integer>10</integer>
		<key>parenright</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-55</integer>
		<key>question</key>
		<integer>10</integer>
		<key>quotedbl</key>
		<integer>15</integer>
		<key>quotedblbase</key>
		<integer>-55</integer>
		<key>quotedblright</key>
		<integer>15</integer>
		<key>quoteright</key>
		<integer>15</integer>
		<key>quotesinglbase</key>
		<integer>-55</integer>
		<key>quotesingle</key>
		<integer>15</integer>
		<key>semicolon</key>
		<integer>5</integer>
		<key>slash</key>
		<integer>-35</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-15</integer>
	</dict>
	<key>section</key>
	<dict>
		<key>seven</key>
		<integer>-15</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>seven</key>
		<integer>-50</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>colon</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>eight</key>
		<integer>-7</integer>
		<key>equal</key>
		<integer>-20</integer>
		<key>fraction</key>
		<integer>-90</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>less</key>
		<integer>-20</integer>
		<key>nine</key>
		<integer>-3</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>plus</key>
		<integer>-25</integer>
		<key>semicolon</key>
		<integer>-15</integer>
		<key>seven</key>
		<integer>-3</integer>
		<key>six</key>
		<integer>-3</integer>
		<key>slash</key>
		<integer>-85</integer>
		<key>three</key>
		<integer>-3</integer>
		<key>two</key>
		<integer>-3</integer>
		<key>zero</key>
		<integer>-3</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>fraction</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-3</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>J</key>
		<integer>-60</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>ae</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>fi</key>
		<integer>-10</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>fl</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-40</integer>
		<key>m</key>
		<integer>-40</integer>
		<key>n</key>
		<integer>-40</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-40</integer>
		<key>oe</key>
		<integer>-40</integer>
		<key>p</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-40</integer>
		<key>six</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>two</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
		<key>z</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>backslash</key>
		<integer>-25</integer>
		<key>guillemotleft</key>
		<integer>-20</integer>
		<key>guillemotright</key>
		<integer>10</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
		<key>guilsinglright</key>
		<integer>10</integer>
		<key>question</key>
		<integer>-5</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>seven</key>
		<integer>-3</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>four</key>
		<integer>-3</integer>
		<key>seven</key>
		<integer>-3</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>backslash</key>
		<integer>-35</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>backslash</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>quotedblbase</key>
		<integer>-30</integer>
		<key>quotesinglbase</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>backslash</key>
		<integer>-35</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>backslash</key>
		<integer>-35</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>backslash</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>40</integer>
	</dict>
	<key>yen</key>
	<dict>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>backslash</key>
		<integer>-35</integer>
		<key>guillemotleft</key>
		<integer>-15</integer>
		<key>guilsinglleft</key>
		<integer>-15</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>fraction</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-3</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
